node_modules
dist
.DS_Store
*.local
.npm-cache
.venv
__pycache__
*.pyc
uploads

# Secrets
.env
.env.*
**/.env
**/.env.*

# Backend artifacts
backend/sql_app.db
backend/data/
backend/templates/

# Data files
data/h/raw_data/1.parquet
data/h/raw_data/0.parquet
data/h/raw_data/data_stack_aggregate_6jnTAdQteC.csv
data/h/raw_data/0.parquet.manifest.json
data/h/raw_data/2.parquet
data/h/raw_data/1.parquet.manifest.json
data/h/raw_data/data_stack_aggregate_6jnTAdQteC.csv.manifest.json
data/h/raw_data/2.parquet.manifest.json

# Archives
walmart-etl-eda-latest.zip
